
.login-background {
    height: 100vh;
    background: #241a1a21;
    
    .login-container {
        width: 400px;
        height: 100%;
        margin: 0 auto;
        border-radius: 10px;
        background-color: white;
        position: absolute;
        margin: auto;
        height: 450px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        
        
        .login-content {
            padding: 10px;

            .text-login{
               text-align: center;
               font-weight: 600px;
               font-size: 24px;
               padding-top: 10px;
            }
        .login-input{
            margin: 7px 0;

            .custom-input-password{
                position: relative;
                
                i{
                    position: absolute;
                    top: 10px;
                    right: 5px;
                    cursor: pointer;
                }

            }
        }
        .btn-login{
           width: 100%;
           margin: 10px 0;
           height: 35px;
           color: white;
           border-radius: 15px;
           outline: none;
           border: none;    
           background-color: rgb(135, 209, 166);
           font-size: 16px;
        }
        .forgot-password{
            font-size: 11px;
        }
        .social-login{
            display: flex;
            text-align: center;
            justify-content: center;
            margin-top: 30px;
            .google{
                font-size:30px;
                background: #df1a1a;
                border-radius: 50%;
                height: 50px;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                margin-right: 10px;
            }
            .facebook{
                font-size:30px;
                background: #43439f;
                border-radius: 50%;
                height: 50px;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
            }
        }
        }
    }
}